@model Tastehub.Model.ViewModel.ManageResumeViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Manage Booking";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}
<link href="~/AdminAsset/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Tables</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Manage Resume</h5>
                        <a class="btn btn-primary btn-xs linkbutton" href="@Url.Action("UploadResume", "Resume",new {data=0}))" 
                           name="add">Add New Resume </a>

                        <div class="table-responsive">
                            <table id="zero_config" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>SR No</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Resume</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var resume in Model.Resumes)
                                    {
                                        var pd = Model.PersonalDetails.FirstOrDefault(x => x.UserId == resume.UserId);
                                        <tr>
                                            <td>@count</td>
                                            <td>@pd.FirstName</td>
                                            <td>@pd.Email</td>
                                            <td>@pd.Phone</td>
                                            <td>
                                                <a href="@Url.Action("DownloadResume", "Resume", new { resumeId = resume.Id })" class="btn btn-primary btn-sm">
                                                    Download
                                                </a>
                                            </td>
                                            <td>
                                                <a class="btn default btn-outline el-link"
                                                   href="@Url.Action("EditResume", "Resume",new {Id=resume.Id})">
                                                    <i class="mdi mdi-link"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                                <tfoot>

                                </tfoot>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
        All Rights Reserved by . Designed and Developed by <a href="http://brajeshkumar.co.in/">Brajesh Kumar</a><a href="http://brajeshkumar.co.in/"></a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>

